<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description|default('I make things of varying quality.') }}">
    <meta name="author" content="Jamison Hunter">
    <title>{{ title|safe }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Prism.js for syntax highlighting -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-c.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-rust.min.js"></script>
</head>
<body>
    <header>
        <a href="/"><h1>Jamison's Projects</h1></a>
        <p>I make things of varying quality.</p>
    </header>
    <hr>
    <div>
        <nav>
            <h2>Archive</h2>
            <h3>2025</h3>
            <ul>
                <!-- Create new blog post.-->
                <!-- Add link to archive. -->
                <li><a href="/benchmarking-programming-languages-with-math">Benchmarking Programming Languages With Math</a></li>
            </ul>
        </nav>
        <article>{{ text|safe }}</article>
    </div>
    <footer>
        <p><i>This website falls under a GNU General Public License.</i></p>
    </footer>
</body>
</html>